@charset "utf-8";
body 	{align: center;
	margin: 0 auto;
	background-color: #2E3191;
}
#header {font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #FFF;
	align: center;
	margin: 0 auto;
	padding-top: 10px;
}
#header a{font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #FFF;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}
#header a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #6CE2AB;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}
#header li {
  display: inline;
}
main	{margin: 0 auto;
	align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #FFF;
	align: center;
	margin: 0 auto;
	padding-top: 10px;
}
main a{font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #FFF;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}
#header a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #6CE2AB;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}
main img {display: block;
	width: 100%;
	max-width: 450px;
	height: auto;
	margin: 0 auto;
}
.info {display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30;
	font-weight: bold;
	max-width: 800px;
	color: #FFF;
	align: center;
	margin: 0 auto;
	padding: 10px;
}
.info a {font-family: Arial, Helvetica, sans-serif;
	font-size: 34x;
	font-weight: bold;
	color: #6CE2AB;
	text-decoration: none;
}
#footer {font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	max-width: 800px;
	color: #FFF;
	align: center;
	margin: 0 auto;
	padding: 10px;
}
#footer a {font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #6CE2AB;
	text-decoration: none;
}
