@charset "utf-8";
body 	{align: center;
	margin: 0 auto;
	background-color: #154002;
}
#header {font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #FFF;
	align: center;
	margin: 0 auto;
	padding-top: 10px;
}
#header a{font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #FFF;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}
#header a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #6CE2AB;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}
main	{margin: 0 auto;
	align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #FFF;
	align: center;
	margin: 0 auto;
	padding-top: 10px;
}
main a{font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #FFF;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}
#header a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #6CE2AB;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}
main img {display: block;
	width: 100%;
	max-width: 450px;
	height: auto;
	margin: 0 auto;
}
#footer {font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	max-width: 800px;
	color: #FFF;
	align: center;
	margin: 0 auto;
	padding: 10px;
}
#footer a {font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #6CE2AB;
	text-decoration: none;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0e2e00;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
